<!DOCTYPE html>
<html>
<head>
    <title>@Page.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Style/normalize.css" type="text/css" rel="stylesheet" media="screen">
    <link href="~/Styles/Megadesk.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
    <div id="container">
        <div id="header">
            <h1>MegaDesk ASP.NET Web Site</h1>
        </div>
        <div id="nav">
            <ul id="MENU">
                <li><a href="~/AddQuote" title="Add Quote">Add</a></li>
                <li><a href="~/ViewQuotes" title="View All Quotes">View All</a></li>
                @*<li><a href="~/ViewQuotes" title="Search Quote">Search</a></li>
                <li><a href="~/ViewQuotes" title="Edit">Edit</a></li>
                <li><a href="~/ViewQuotes" title="Delete">Delete</a></li>*@
                <li><a href="~/About" title="View The About App Page">About</a></li>
            </ul>
            <br>
        </div>
        <br />
        <br />
        <div id="main">
            @RenderBody()
        </div>
        <div id="footer">
            &copy; @DateTime.Now.Year MegaDesk ASP.NET Web Site
        </div>
    </div>
</body>
</html>