@{
    Page.Title = "MegaDesk ASP.NET Web";
    Layout = "~/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <h2>MegaDesk Web</h2>
    <h1>This the AspNet Web version of Megadesk.</h1>
    <p>
        <img src="~/Images/desk4.png" alt="deskpic" class="align-center size" />
    </p>
</body>

</html>