@{
    Page.Title = "MegaDesk ASP.NET Web Site Welcome Page";
    Layout = "~/_Layout.cshtml";

}
<h2>MegaDesk ASP.NET Web</h2>
<br/>
<br/>
<p><a href="~/Megadesk.cshtml">Go to MegaDesk Main Page</a></p>

