@{
    Page.Title = "MegaDesk ASP.NET Web Site Welcome Page";
    Layout = "~/_Layout.cshtml";

}
<p>Welcome my Megadesk Web Page</p><br />
<p>
    <img src="~/Images/desk4.png" alt="deskpic" class="align-center size" />
</p>