@{
    Page.Title = "MegaDesk ASP.NET Web";
    Layout = "~/_Layout.cshtml";

    //var db = Database.Open("WebPagesMegadesk");
    //var selectCommand = "SELECT * FROM MegadeskTable";
    //var searchTerm = "";

    //if (!Request.QueryString["searchBook"].IsEmpty())
    //{
    //    selectCommand = "SELECT * FROM Scriptures WHERE Book = @0";
    //    searchTerm = Request.QueryString["searchBook"];
    //}

    //if (!Request.QueryString["searchkeyword"].IsEmpty())
    //{
    //    selectCommand = "SELECT * FROM Scriptures WHERE Note LIKE @0";
    //    searchTerm = "%" + Request.QueryString["searchkeyword"] + "%";
    //}

    //var selectedData = db.Query(selectCommand, searchTerm);
    //var grid = new WebGrid(source: selectedData, defaultSort: "Book", rowsPerPage: 5);
}

<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <p>Welcome my Megadesk Web Page</p>
</body>
</html>
