@{
    Page.Title = "MegaDesk ASP.NET Web";
    Layout = "~/_Layout.cshtml";

}
<p><a href="~/ViewQuotes.cshtml">Return to List Quotes</a></p>
<p><a href="~/Megadesk.cshtml">Return to Main Menu</a></p>
